<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 each-page-header" style="position: fixed;z-index: 99;">
    <div class="float-left">Promotion Plans</div>
</div>-->

<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 10px 0px 0px 6px;">records per page</label>
                </div>
                <label style="color: red;text-decoration: underline;margin: 10px 0 0 19px;">*Please make sure that the information which you provide here are the same as in your app store</label>

                <button class="btn btn-primary buttonCus" data-toggle="modal" style="margin: 0 20px 0px 0px;" data-target="#addPlans">Add</button>
                <!--<input class="customSearch" placeholder="Search.." type="text" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                    #myinput>-->
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="panel panel-default">
                        <table class="table" [mfData]="data" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 5%;text-align: center">#</th>
                                    <th style="width: 18%;text-align: center">Plan id</th>
                                    <th style="width: 18%;text-align: center">In-app purchase id</th>
                                    <th style="width: 30%;text-align: center">Plan Title</th>
                                    <th style="width: 16%;text-align: center">Total unique views allowed</th>
                                    <th style="width: 15%;text-align: center">Price</th>
                                    <th style="width: 9%;text-align: center" class="thTitle">Currency</th>
                                    <th style="width: 10%;text-align: center" class="thAction">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="this.msg">
                                    <td colspan="7">{{this.msg}}</td>
                                </tr>
                                <tr *ngFor="let data of promotionData | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index" [attr.data-index]="i">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{data.planId}}</td>
                                    <td *ngIf="data.inAppPurchaseId == null">N/A</td>
                                    <td *ngIf="data.inAppPurchaseId != null">{{data.inAppPurchaseId}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.uniqueViews}}</td>
                                    <td>{{data.price}}</td>
                                    <td>USD ($)</td>
                                    <td>
                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" (click)="gotoDeletePlans(data.planId)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        </div>

                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" data-target="#editPlans" class="btn btn-primary btn-xs" (click)="gotoEditData(data)">
                                          <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addPlans" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Plans
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="plans" (ngSubmit)="submitForm(plans)">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Plan Title</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="planTitle" [formControl]="plans.controls['planTitle']"
                                    [ngModel]="plans.planTitle">

                                <div *ngIf="plans.controls['planTitle'].errors && (plans.controls['planTitle'].dirty || plans.controls['planTitle'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!plans.controls['planTitle'].errors.required">
                                        Title Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">In app purchase id</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="inAppPurchaseId" [formControl]="plans.controls['inAppPurchaseId']"
                                    [ngModel]="plans.inAppPurchaseId">

                                <div *ngIf="plans.controls['inAppPurchaseId'].errors && (plans.controls['inAppPurchaseId'].dirty || plans.controls['inAppPurchaseId'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!plans.controls['inAppPurchaseId'].errors.required">
                                        In app purchase id Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Total View</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="input-2" name="uniqueViews" [formControl]="plans.controls['uniqueViews']" [ngModel]="plans.uniqueViews" pattern="^[0-9]+$">

                                <div *ngIf="plans.controls['uniqueViews'].errors && (plans.controls['uniqueViews'].dirty || plans.controls['uniqueViews'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!plans.controls['uniqueViews'].errors.required">
                                        Total View is required
                                    </div>
                                    <div [hidden]="!plans.controls['uniqueViews'].errors.pattern">
                                        Enter Valid Unique View
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Price</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="input-2" name="price" [formControl]="plans.controls['price']" [ngModel]="plans.price"
                                    pattern="^\d+(\.\d{1,2})?$">
                                <div *ngIf="plans.controls['price'].errors && (plans.controls['price'].dirty || plans.controls['price'].touched)" class="alert alert-danger">

                                    <div [hidden]="!plans.controls['price'].errors.required">
                                        Price is required
                                    </div>
                                    <div [hidden]="!plans.controls['price'].errors.pattern">
                                        Enter Valid Price
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!plans.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editPlans" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Plans
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editPlans" (ngSubmit)="editPlanData(editPlans)">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Plan Title</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="planTitle" [formControl]="editPlans.controls['planTitle']"
                                    [(ngModel)]="obj.name">

                                <div *ngIf="editPlans.controls['planTitle'].errors && (editPlans.controls['planTitle'].dirty || editPlans.controls['planTitle'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editPlans.controls['planTitle'].errors.required">
                                        Title Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">In app purchase id</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="inAppPurchaseId" [formControl]="editPlans.controls['inAppPurchaseId']"
                                    [(ngModel)]="obj.inAppPurchaseId">

                                <div *ngIf="editPlans.controls['inAppPurchaseId'].errors && (editPlans.controls['inAppPurchaseId'].dirty || editPlans.controls['inAppPurchaseId'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editPlans.controls['inAppPurchaseId'].errors.required">
                                        In app purchase id Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Total View</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="uniqueViews" [formControl]="editPlans.controls['uniqueViews']"
                                    [(ngModel)]="obj.uniqueViews" pattern="^[0-9]+$">

                                <div *ngIf="editPlans.controls['uniqueViews'].errors && (editPlans.controls['uniqueViews'].dirty || editPlans.controls['uniqueViews'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editPlans.controls['uniqueViews'].errors.required">
                                        Total View is required
                                    </div>
                                    <div [hidden]="!editPlans.controls['uniqueViews'].errors.pattern">
                                        Enter Valid Unique View
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Price</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="price" [formControl]="editPlans.controls['price']"
                                    [(ngModel)]="obj.price" pattern="^\d+(\.\d{1,2})?$">
                                <div *ngIf="editPlans.controls['price'].errors && (editPlans.controls['price'].dirty || editPlans.controls['price'].touched)"
                                    class="alert alert-danger">

                                    <div [hidden]="!editPlans.controls['price'].errors.required">
                                        Price is required
                                    </div>
                                    <div [hidden]="!editPlans.controls['price'].errors.pattern">
                                        Enter Valid Price
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!editPlans.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>