<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 each-page-header" style="position: fixed;z-index: 99;">
    <div class="float-left">Sub Categories </div>
</div>-->
<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 6px;">records per page</label>
                </div>

                <button class="btn btn-primary buttonCus" style="margin: 0 20px 0px 0px;" data-toggle="modal" data-target="#addFields">Add</button>


                <!--<input class="customSearch" placeholder="Search.." type="text" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                    #myinput>-->
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 6%;text-align: center">#</th>

                                    <th style="width: 44%;text-align: center">
                                        Field Name
                                    </th>
                                    <th style="width: 14%;text-align: center">Re-order</th>
                                    <th style="width: 30%;text-align: center">
                                        Type
                                    </th>
                                    <th style="width: 30%;text-align: center">
                                        Values
                                    </th>
                                    <th style="width: 30%;text-align: center">
                                        Is Mandatory
                                    </th>
                                    <th style="width: 20%;text-align: center" class="thAction">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="10">No data found</td>
                                </tr>

                                <tr *ngFor="let field of fieldData | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>

                                    <td>{{field.fieldName}}</td>
                                    <td>
                                        <div class="btn-hover" *ngIf="i == 0">
                                            <button class="button-cust" style="padding-left: 0px;padding-right: 0px;" type="button" disabled>
                                                <span class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                            </button>
                                        </div>
                                        <div class="btn-hover" *ngIf="i != 0">
                                            <button class="button-cust" style="cursor: pointer;padding-left: 0px;padding-right: 0px;" type="button" (click)="gotoUpArrow(i)">
                                                <span class="glyphicon glyphicon-arrow-up fa-lg"></span>
                                            </button>
                                        </div>
                                        <div class="btn-hover" *ngIf="i == fieldData.length - 1">
                                            <button class="button-cust" style="padding-left: 0px;padding-right: 0px;" type="button" disabled>
                                                <span class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                            </button>
                                        </div>
                                        <div class="btn-hover" *ngIf="i != fieldData.length - 1">
                                            <button class="button-cust" style="cursor: pointer;padding-left: 0px;padding-right: 0px;" type="button" (click)="gotoDownArrow(i)">
                                                <span class="glyphicon glyphicon-arrow-down fa-lg"></span>
                                            </button>
                                        </div>
                                    </td>
                                    <td style="text-align: center;" *ngIf="field.type == '1' ">Text-Box</td>
                                    <td style="text-align: center;" *ngIf="field.type == '2' ">Checkbox</td>
                                    <td style="text-align: center;" *ngIf="field.type == '3' ">Slider</td>
                                    <td style="text-align: center;" *ngIf="field.type == '4' ">Radio Buttons</td>
                                    <td style="text-align: center;" *ngIf="field.type == '5' ">Range</td>
                                    <td style="text-align: center;" *ngIf="field.type == '6' ">Drop Down</td>
                                    <td style="text-align: center;" *ngIf="field.type == '7' ">Date</td>
                                    <td *ngIf="field.values == ''">N/A</td>
                                    <td *ngIf="field.values != ''">{{field.values}}</td>
                                    <td style="text-align: center;" *ngIf="field.isMandatory == 'true' ">Yes</td>
                                    <td style="text-align: center;" *ngIf="field.isMandatory == 'false' ">No</td>
                                    <td *ngIf="btnFlag">
                                        <div class="btn-hover">
                                            <button data-toggle="modal" data-target="#delete-modal" class="btn btn-danger btn-xs" (click)="gotoDeleteFields(field.filterId)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>

                                        <div class="btn-hover">
                                            <button data-toggle="modal" data-target="#editFields" class="btn btn-primary btn-xs" (click)="gotoeditFields(field)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addFields" role="dialog" aria-labelledby="modal-label" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Add fields
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="addFields" (ngSubmit)="submitForm(addFields)">
                <div class="modal-body">
                    <!-- <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-lg-3">Field Name:</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control checking-field" placeholder="Enter sub Category field" [formControl]="addFields.controls['fieldName']"
                                [ngModel]="addFields.fieldName">
                            <div *ngIf="addFields.controls['fieldName'].errors && (addFields.controls['fieldName'].dirty || addFields.controls['fieldName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addFields.controls['fieldName'].errors.required">
                                    fieldName is required
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-2">Filter :</label>
                        <div class="col-lg-9">
                            <select class="form-control input-sm" [formControl]="addFields.controls['filterId']">
                                <option value="" disabled selected>Select Filter</option>
                                <option *ngFor="let f of filterData" [value]="f.filterId">{{f.fieldName}}</option>
                                <!-- <option value="1" selected>Text-Box</option>
                                <option value="2">Checkbox</option>
                                <option value="3">Slider</option>
                                <option value="4">Radio Buttons</option> -->
                            </select>
                        </div>

                    </div>
                    <!-- <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-3">Is Mandatory</label>
                        <div class="col-lg-6">
                            <label class="switch col-lg-3">
                                <input type="checkbox" checked [formControl]="addFields.controls['isMandatory']" [ngModel]="isMandatory">
                                <span class="slider round"></span>
                            </label>
                        </div>

                    </div> -->
                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary" [disabled]="!addFields.valid">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editFields" role="dialog" aria-labelledby="modal-label" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Edit Fields
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editFields" (ngSubmit)="updatecategory(editFields)">
                <div class="modal-body">
                    <!-- <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-lg-3">Field Name:</label>
                        <div class="col-lg-6">
                            <input type="text" id="newFields" class="form-control checking-field" placeholder="Enter fields" [formControl]="editFields.controls['newFieldName']"
                                [(ngModel)]="editFields.newFieldName">
                            <div *ngIf="editFields.controls['newFieldName'].errors && (editFields.controls['newFieldName'].dirty || editFields.controls['newFieldName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editFields.controls['newFieldName'].errors.required">
                                    fieldName is required
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-3">Filter: </label>
                        <div class="col-lg-6">
                            <select class="form-control input-sm" id="editFilterType" [formControl]="editFields.controls['filterId']">
                                <!-- <option value="" disabled selected>Select Filter</option> -->
                                <option *ngFor="let f of filterData" [value]="f.filterId">{{f.fieldName}}</option>
                            </select>
                        </div>

                    </div>
                    <!-- <div class="form-group col-xs-12 zeroPadding">
                        <label class="col-lg-3">Is Mandatory</label>
                        <div class="col-lg-6">
                            <label class="switch col-lg-3">
                                <input type="checkbox" [formControl]="editFields.controls['isMandatory']" [checked]="obj == 'true'" id="{{obj}}" [ngModel]="isMandatory">
                                <span class="slider round"></span>
                            </label>
                        </div>

                    </div> -->
                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary" [disabled]="!editFields.valid">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>