<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left" style="border: 2px solid silver;border-radius: 3px;min-height: 374px;">
        <h5 style="color: slategray;padding: 12px 0 0 22px;"> Run Campaign For:</h5>
        <div *ngIf="errMsg" id="err" style="color: red;text-align: center;">Enter {{errMsg}}</div>
        <!--<div class="input-group input-daterange">
            <input type="text" class="form-control" value="2012-04-05">
            <div class="input-group-addon">to</div>
            <input type="text" class="form-control" value="2012-04-19">
        </div>-->

        <!--<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required></my-date-picker>-->
        <div class="required" style="padding: 0 0 0 20px;">
            <div class="col-xs-12" style="padding-left: 0px;">
                <div class="col-xs-2" style="padding-left: 0px;">
                    <label class="control-label">CAMPAIGN TITLE</label>
                    <input type="text" placeholder="Enter Campaign Title" id="campTitle" class="form-control" style="margin-bottom: 11px;">
                </div>
                <div class="col-xs-2">
                    <label class="control-label">START DATE</label>
                    <my-date-picker name="mydate" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"
                        placeholder="Start date" required></my-date-picker>
                </div>
                <div class="col-xs-2">
                    <label class="control-label">END DATE</label>
                    <my-date-picker name="mydate" [options]="myDatePickerOptions" (dateChanged)="onDateChangedEnd($event)"
                        placeholder="End date" required></my-date-picker>
                </div>
            </div>
        </div>
        <div>
            <label class="radio-inline" style="padding: 8px 16px 0 20px">
                <input type="radio" name="type" id="city" (change)="radioBtn()" value="city" [(ngModel)]="campaignType">City
            </label>
            <label class="radio-inline">
                <input type="radio" id="country" name="type" (change)="radioBtn()" value="country" [(ngModel)]="campaignType">Country
            </label>
        </div>
        <div class="required" style="padding: 0 0 0 20px;">
            <label class="control-label">ENTER CITY/COUNTRY NAME</label>
            <input type="text" placeholder="Enter City Name" class="form-control" id="cityTxt" style="width: 34%;margin-bottom: 11px;">
            <input type="text" placeholder="Enter Country Name" class="form-control" id="countryTxt" style="width: 34%;margin-bottom: 11px;">
        </div>

        <div class="required" style="padding: 0 0 0 20px;">
            <label class="control-label">ENTER RADIUS TO RUN CAMPAIGN IN</label>
            <div class="col-xs-12" style="padding-left: 0px;">
                <div class="col-xs-2" style="padding-left: 0px;">
                    <input type="text" placeholder="Enter Radius" class="form-control" id="radius">
                </div>
                <div class="col-xs-2">
                    <select class="form-control" [(ngModel)]="unitType">
                        <!--<option value="" disabled selected>Select Unit</option>-->
                        <option value='KM'>KM</option>
                        <option value='M'>M</option>
                    </select>
                </div>
                <div class="col-xs-1">
                    <button type="button" class="btn btn-outline-success" (click)="goForTargetUser1()">Run</button>
                </div>
                <i class="fa fa-spinner fa-spin fa-3x" id="loader" aria-hidden="true"></i>

            </div>
        </div>
        <div id="tableDiv">
            <div style="padding: 0 0 0 20px;margin-top: 6%;">
                <h6>
                    <mark style="background-color: rgba(2, 74, 136, 0.8);">NO. OF USERS TO POTENTIALLY TARGET :
                        {{count}}</mark>
                </h6>
                <h6 style="float: right;margin-top: -3%;">
                    <button type="button" class="btn btn-outline-info" data-toggle="modal" id="sendBtn" data-target="#sendPush">Send</button>
                </h6>
            </div>

            <div class="table-block card-block widget-body">
                <div class="container-fluid pl-0 pr-0">
                    <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                        <div class="panel panel-default">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th style="width: 6%">#</th>
                                        <th style="width: 65%;text-align: center">User Name</th>
                                        <th style="width: 20%;text-align: center">Phone No.</th>
                                        <th style="width:9%;text-align: center">Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="msg" style="color: red">
                                        <td colspan="9">No data Available</td>
                                    </tr>
                                    <tr *ngFor="let item of userPush | paginate: { itemsPerPage: rowsOnPage, currentPage: p, totalItems:count}; let i = index"
                                        [attr.data-index]="i">
                                        <td>{{i+1}}</td>
                                        <td>
                                            <a class="custom" (click)="gotoUserDatail(item.username)">{{item.username}}</a>
                                        </td>
                                        <td>{{item.phoneNumber}}</td>
                                        <td *ngIf="item.city == null">N/A</td>
                                        <td *ngIf="item.city != null">{{item.city}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>

                                        <td colspan="100">
                                            <!-- <button type="button" class="btn btn-outline-info" data-toggle="modal" id="sendBtn" data-target="#sendPush">Send</button> -->

                                            <pagination-controls (pageChange)="goForTargetUser($event)" class="cursor-pointer float-right"></pagination-controls>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendPush" tabindex="-1" role="dialog" aria-labelledby="modal-label">
    <div class="modal-dialog modal-sm">
        <div class="background_mockup" id="phone_mock">
            <img src="assets/img/users/mockup.png">
            <div id="all_content">
                <span id="close_button" (click)="closeModal()">
                    <a>X</a>
                </span>
                <div id="phone_content">
                    <div>
                        <div *ngIf="pushImgUrl == null">
                            <span title="Click to upload image" data-toggle="modal" data-backdrop="false" style="cursor:pointer"
                                data-target="#croppingBoxPush" type="button">
                                <img src="https://offeryep.com/public/defaultImg.png" id="content_img">
                            </span>
                        </div>
                        <div *ngIf="pushImgUrl != null">
                            <span title="Click to upload image" data-toggle="modal" data-backdrop="false" style="cursor:pointer"
                                data-target="#croppingBoxPush" type="button">
                                <img src={{pushImgUrl}} id="content_img">
                            </span>
                            <div class="loader" id="imgLoader" style="display: none">
                                <i class="fa fa-spinner fa-spin fa-3x" id="loader" aria-hidden="true"></i>
                            </div>

                        </div>
                        <div data-toggle="modal" data-backdrop="false" data-target="#detailsBoxPush" style="padding:5px 17px;color:black;cursor:pointer">
                            <h1></h1>
                            <p></p>
                            <div *ngIf="pMsg == 1">
                                <h1>{{pushTitle}}</h1>
                                <p>{{pushMsg}}</p>
                            </div>
                            <div *ngIf="pMsg == 0">
                                <h1>Click to fill your push details!</h1>
                                <p>Many users have recently joined! Check now to see if anyone new is in your area!
                                </p>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div *ngIf="pMsg == 1">
                            <button id="sendxx" (click)="sendNotification()">SEND NOTIFICATION</button>
                        </div>
                        <div *ngIf="pMsg == 0">
                            <button id="send">FILL THE REQUIRED DETAILS</button>
                        </div>
                        <div>
                            <button id="know_more">KNOW MORE</button>
                            <button id="cancel">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="croppingBoxPush" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-8 offset-2">
                    <div style="text-align: center;">
                        <mark style="background-color: yellow;">Please select small size image and Dimension is maximum
                            600*600</mark>
                    </div>
                    <div id="upImg" style="color: red;text-align: center;">Please Select Small Size Image</div>

                    <div class="image-wrapper" style="text-align: center;">
                        <i *ngIf="Dimage" class="fa fa-times delete-img" (click)="DremoveImage()"></i>
                        <img [attr.src]="Dimage" *ngIf="Dimage" width="100%" style="height: 141px;width: 64%;">
                        <img src="assets/img/app/no-image.png" *ngIf="!Dimage" width="100%" style="height: 141px;width: 64%;">
                    </div>
                    <input type="file" (change)="DfileChange(input1)" #input1 class="img-upload-btn" accept="image/*"
                        style="width: 56%;" />

                    <button class="btn btn-main btn-block" type="button" style="width: 64%;height: 35px;margin: 0 0 0 47px;">
                        <span *ngIf="!Dimage">
                            <i class="fa fa-upload"></i> Select Image... </span>
                        <span *ngIf="Dimage">
                            <i class="fa fa-refresh"></i> Change Image... </span>
                    </button>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="uploadBtn" (click)="confirmUploadPush()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="setDefaultImg()">Set
                    Default</button>
            </div>
        </div>
    </div>
</div>

<div id="detailsBoxPush" class="modal fade" role="dialog">
    <div class="modal-dialog" style="top: -31%;">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Push Details</h4>
                <form [formGroup]="notificationM" (ngSubmit)="pushUsers(notificationM)">
                    <div class="form-group">
                        <label>Push Title</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Push Title" name="contTitle"
                            id="title" [formControl]="notificationM.controls['line2']">
                        <div *ngIf="notificationM.controls['line2'].errors && (notificationM.controls['line2'].dirty || notificationM.controls['line2'].touched)"
                            class="alert alert-danger">
                            <div [hidden]="!notificationM.controls['line2'].errors.required">
                                Title Required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Message: (Maximum Length Is 100 Character)</label>
                        <textarea formControlName="message" cols="30" rows="10" class="form-control" id="message"
                            [formControl]="notificationM.controls['message']" maxlength="100"></textarea>
                        <div *ngIf="notificationM.controls['message'].errors && (notificationM.controls['message'].dirty || notificationM.controls['message'].touched)"
                            class="alert alert-danger">

                            <div [hidden]="!notificationM.controls['message'].errors.required">
                                Message is required
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <input type="text" class="form-control form-control-sm" placeholder="Url" [formControl]="notificationM.controls['url']"
                            id="urlLink" pattern="" placeholder="Enter url (example : www.google.com)">
                        <div *ngIf="notificationM.controls['url'].errors && (notificationM.controls['url'].dirty || notificationM.controls['url'].touched)"
                            class="alert alert-danger">
                            <div [hidden]="!notificationM.controls['url'].errors.required">
                                Enter Link
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                            <button type="submit" class="btn btn-primary" [disabled]="!notificationM.valid">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="userDetail" role="dialog" style="top: -140px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 20px 0px 20px 0px;">
                <div class="container-fluid">
                    <div class="item active col-xs-12">
                        <div class="col-sm-12 tableContent" *ngFor="let data of detailData">
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl == null">
                                <span>
                                    <img class="img-circle" src="assets/img/users/default_user.jpg" style="width: 50%;height: 255px;border-radius: 50%;">
                                </span>
                            </div>
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl != null">
                                <span>
                                    <img class="img-circle" src={{data.profilePicUrl}} style="width: 50%;height: 255px;border-radius: 50%;"
                                        onError="this.src='assets/img/users/default_user.jpg';">
                                </span>
                            </div>
                            <table class="custom-table table table-striped">
                                <tbody>
                                    <!--<tr>
                                        <td class="pull-left">Full Name</td>
                                        <td class="pull-right">adcdc</td>
                                    </tr>-->
                                    <tr>
                                        <td class="pull-left">User Full Name</td>
                                        <td class="pull-right">{{data.fullName}}</td>
                                    </tr>

                                    <tr>
                                        <td class="pull-left">User Name</td>
                                        <td class="pull-right">{{data.username}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Email</td>
                                        <td class="pull-right">{{data.email}}</td>
                                    </tr>
                                    <tr *ngIf="data.gender == null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">Not Specified</td>
                                    </tr>
                                    <tr *ngIf="data.gender != null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">{{data.gender}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Phone</td>
                                        <td class="pull-right">{{data.phoneNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>